/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* latin */
@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  src: local('Cedarville Cursive'), local('Cedarville-Cursive'), url(https://fonts.gstatic.com/s/cedarvillecursive/v7/cuCe6HrkcqrWTWTUE7dw-4iNpYP4ormdS933dwqOPYU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Just Me Again Down Here';
  font-style: normal;
  font-weight: 400;
  src: local('Just Me Again Down Here'), local('JustMeAgainDownHere'), url(https://fonts.gstatic.com/s/justmeagaindownhere/v8/sN06iTc9ITubLTgXoG-kc9LxhifvsZyFlIktPLD8SVhSjxrNWc6TL5x1_u3zzrgH.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Just Me Again Down Here';
  font-style: normal;
  font-weight: 400;
  src: local('Just Me Again Down Here'), local('JustMeAgainDownHere'), url(https://fonts.gstatic.com/s/justmeagaindownhere/v8/sN06iTc9ITubLTgXoG-kcxBxoRNZkC32eJ50uEAK8oQC1LhKU8qFLLahJuQDJSaO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
  margin: 0px;
  padding-top: 0px;
  font-family: "Just Me Again Down Here", Verdana, Geneva, sans-serif;
}
body div.header {
  width: 100%;
}
body div.header div.title {
  float: left;
}
body div.header div.title div:nth-child(1) {
  font-family: "Cedarville Cursive", cursive, Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 7px 20px 0 30px;
  float: left;
}
body div.header div.title div:nth-child(2) {
  font-size: 20px;
  margin: 25px 0;
  padding: 0 20px;
  border: 1px solid gray;
  border-width: 0 1px 0 1px;
  float: left;
}
body div.header ul.sections {
  float: left;
  margin: 15px;
}
body div.header ul.sections li {
  font-size: 18px;
  list-style: none;
  float: left;
  margin: 0px 10px 0 25px;
  padding: 10px;
  cursor: pointer;
}
body div.content {
  width: 100%;
  min-height: 700px;
  background-position: 0 50%;
  background-size: cover;
  background-image: url("../img/his_hers_original_scale.jpg");
  background-repeat: no-repeat;
  padding: 10px;
}
body div.content div.sections {
  max-width: 90%;
  min-width: 600px;
  min-height: 500px;
  margin: 10px;
  display: none;
  background-color: white;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
body div.content div.sections > div {
  display: none;
}
body div.content div.sections iframe {
  opacity: 1;
}
body div.footer {
  width: 100%;
  height: 50px;
}
body div.footer div.copyright {
  text-align: center;
  vertical-align: middle;
  line-height: 3.5em;
}
.header,
.footer {
  background-color: purple;
  color: white;
  font-size: 14px;
}
